@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 80svw;
        height: 50svh;
    }
    #login #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: top right;
    }
    #login #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
        font-size: 1em;
        margin-bottom: 20px;
    }
    form input[type=email] {
        margin-bottom: 20px;
    }
    form input[type=password] {
        margin-bottom: 20px;
    }
    form input[type=submit] {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 800px;
    }

    #login #imagem {
        float: right;
        width: 40%;
        height: 100%;
        background-position: top right;
    }

    #login #formulario {
        float: left;
        width: 60%;
    }
    #formulario p {
        font-size: 1.2em;
    }
    form input[type=email] {
        margin-bottom: 20px;
        height: 50px;
    }
    form input[type=password] {
        margin-bottom: 20px;
        height: 50px;
    }
    form input[type=submit] {
        margin-bottom: 20px;
        height: 50px;
    }
    .icon {
        padding-top: 13px;
    }
}