@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 80svw;
    }
    #login #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: top right;
    }
    #login #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 800px;
    }

    #login #imagem {
        float: right;
        width: 40%;
        height: 100%;
        background-position: top right;
    }

    #login #formulario {
        float: left;
        width: 60%;
    }
    #formulario p {
        font-size: 1.2em;
    }

}